.about{
    background-color: #014E56;
    padding: 120px 0;
    position: relative;
}
.about::after{
    content: '';
    display: block;
    width: 100px;
    height: 200px;
    background-image: url(/img/11.svg);
    position: absolute;
    right: 0;
    bottom: 0;
}
.about__body{
    @include important;
}
.about__title{
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 100px;
    color: $text_color;
}
.about__hr{
    background: #F67E7E;
    width: 50px;
    height: 4px;
    margin-bottom: 40px;
}
.about__text{
    max-width: 730px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: $text_color;
}
@media screen and (min-width: 768px) {
    .about__body{
        flex-direction: column;
        text-align: center;
    }
    .about__text{
        max-width: 457px;
        margin-top: 25px;
    }
    .about__hr{
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .about{
        padding: 80px 0;
    }
    .about__title{
        font-size: 40px;
        line-height: 40px;    
    }   
    .about__text{
        font-size: 15px;
        line-height: 28px;
        max-width: 327px;
    }
    .about::after{
        height: 100px;
    }
}