footer{
    background-color: #002529;
    padding: 48px 0
}
.footer__body{
    @include important;
}
.footer__logo{
    margin-bottom: 55px;
}
.footer__link{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: $text_color;
    margin-right: 40px;
    margin-top: 25px;
}
.footer__links{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;  
    color: $text_color;   
    mix-blend-mode: normal;
    opacity: 0.6;
}
.icon__list{
    column-gap: 20px;
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.bx{
    font-size: 25px;
    color: $text_color;
}
.footer__text{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: right;    
    color: $text_color;  
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-top: 50px;
}
@media screen and (max-width: 768px) {
    footer{
        padding: 56px 40px;
    }
    .footer__body{
        flex-wrap: wrap;
    }
    .footer__logo{
        width: 96px;
        height: 24px;
    }
    .footer__link{
        font-size: 15px;
        line-height: 25px;
    }
    .footer__list{
        width: 280px;
        text-align: end ;
    }
    .footer__right{
        display: flex;
        align-items: center;
        padding: 32px 0;
    }
    .icon__list{
        margin-left: 0;
    }
    .footer__text{
        margin-top: 0;
        margin-left: 270px;
    }
}
@media screen and (max-width: 768px) {
    footer{
        padding: 66px 24px;
    }
    .footer__body{
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
    }
    .footer__logo{
        margin-bottom: 24px;
    }
    .footer__list{
        text-align: center;
        margin-top: 24px;
        margin-bottom: 40px;
    }
    .footer__right{
        flex-direction: column;
    }
    .icon__list{
        margin-bottom: 16px;
    }
    .footer__text{
        margin-left: 0;
    }
}